mat-card {
  width: 50%;
  margin: 24px auto;
  padding: 32px;
  background-color: cadetblue;

  .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    mat-form-field {
      width: 80%;
    }
  }
  .buttonHolder {
    display: flex;
    justify-content: space-between;
  }

  mat-card-title {
    color: white;
  }

  mat-card-content {
    margin: 10px 0;
  }

  mat-card-header {
    margin: 0 auto 10px auto;
    padding: 10px;
  }
}
