<mat-card>
  <mat-card-header>
    <mat-card-title>Regisztráció</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="registration-form">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput [(ngModel)]="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput required [(ngModel)]="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput required [(ngModel)]="password" />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="registration()">
      Regisztráció
    </button>
  </mat-card-actions>
</mat-card>
