<div class="container">
  <mat-card
    ><span>
      <img src="../../assets/logo.jpg" alt="logo" />
      <h1>NewsHub - Hírek a covid világáról</h1>
    </span>
    <hr />

    <mat-card-header>
      <mat-card-title>NewsHub</mat-card-title>
    </mat-card-header>
    <mat-card-content
      >Üdvözöljük a NewsHub-on, ahol az Európában zajló Covid-19 járvány
      legfrissebb adatait gyűjtöttük össze néhány kiemelt országról. Az
      oldalunkon megtalálható információk segítségével könnyen nyomon követheti
      a járvány alakulását és fejlődését</mat-card-content
    >

    <mat-card-header>
      <mat-card-title>Bejelentkezés</mat-card-title>
    </mat-card-header>
    <mat-card-content
      >Ahhoz, hogy hozzáférjen az oldalunkon található adatokhoz, kérjük,
      jelentkezzen be. A bejelentkezéshez csak egy egyszerű regisztráció
      szükséges, amelynek során megadhatja a nevét, e-mail címét és
      jelszavát</mat-card-content
    >

    <mat-card-header>
      <mat-card-title>Regisztráció</mat-card-title>
    </mat-card-header>
    <mat-card-content
      >A regisztrációval hozzáférést kap az oldalunkon található összes adathoz,
      és a frissítésekhez</mat-card-content
    >
  </mat-card>
  <h3 style="color: brown; text-align: center">
    Az oldal bizalmas adatokat tartalmaz!
  </h3>
</div>
